doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    title Daur Ulang Sampah


    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
      section
        h1 Daur Ulang Sampah 
        p Anisah (12.111.3061)    
        p Dewi Rahmadani (12.111.3720)
        p Fadilla Rachmadani (12.111.1532)
        p Holila Hanni Gultom (12.111.3312)
      section
        h2 Pengertian		

        ul
        li		
        class.p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali
        class.p Proses untuk menjadikan suatu bahan bekas menjadi bahan baru dengan tujuan mencegah adanya sampah

      section
 

        h2 Pengertian

        p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali. Proses untuk menjadikan suatu bahan bekas menjadi bahan baru dengan tujuan mencegah adanya sampah
      section 

        h2 Tujuan dan Manfaat
        
        hr
        ul
           class.p Mengurangi jumlah limbah untuk mengurangi pencemaran atau kerusakan lingkungan
           class.p Mengurangi penggunaan bahan atau sumber daya alam 
           class.p Mendapatkan penghasilan karena dapat dijual ke masyarakat
           class.p Mendapatkan penghasilan karena dapat dijual ke masyarakat
           class.p Melestarikan kehidupan makhluk yang terdapat di suatu lingkungan tertentu
           class.p Menjaga keseimbangan ekosistem makhluk hidup yang terdapat di dalam lingkungan.
           class.p Mengurangi sampah anorganik karena sampah anorganik ada yang dapat bertahan hingga 300 tahun ke depan
        hr
        ul
         
     
      section 
        h2 Metode Daur Ulang Sampah
        p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali disebut sebagai daur ulang.Ada beberapa cara daur ulang, pertama adalah mengambil bahan sampahnya untuk diproses lagi atau mengambil kalori dari bahan yang bisa dibakar untuk membangkitkan listrik. Metode-metode baru dari daur ulang terus ditemukan dan akan dijeleskan dibawah.
        p Metode ini adalah aktivitas paling populer dari daur ulang, yaitu mengeumpulkan dan menggunakan kembali sampah yang dibuang, contohnya botol bekas pakai yang dikumpulkan untuk digunakan kembali. Pengumpulan bisa dilakukan dari sampah yang sudah dipisahkan dari awal (kotak sampah/kendaraan sampah khusus),atau dari sampah yang sudah dicampur.		


          li Dampak Terhadap Keadaan Sosial dan Ekonomi : Salah satu contohnya adalah membentuk lingkungan yang kurang menyenangkan bagi masyarakat, bau yang tidak sedap dan pemandangan yang buruk karena sampah bertebaran dimana-mana, menyebabkan banjir dan juga memberikan dampak bagi fasilitas pelayanan umum seperti jalan, jembatan, drainase, dan lain - lain.
      section 
        h2 Metode Daur Ulang Sampah
      
      section 
        h2 Metode Daur Ulang Sampah
        p Pengolahan kembali secara fisik
        p Metode ini adalah aktivitas paling populer dari daur ulang, yaitu mengumpulkan dan menggunakan kembali sampah yang dibuang, contohnya botol bekas pakai yang dikumpulkan untuk digunakan kembali. 
        p Pengolahan biologis
        p Material sampah ((organik)),seperti zat tanaman,sisa makanan atau kertas,bisa diolah dengan menggunakan proses biologis untuk kompos, atau di kenal dengan istilah pengkomposan.hasilnya adalah kompos yang bisa digunakan sebagai pupuk dan gas methana yang bisa digunakan untuk membangkitkan listrik.		
       

      section
        h2 Contoh Sampah Yang Tidak Baik Untuk Di Daur Ulang
        
        p SAMPAH ANORGANIK :
        
        hr
        ul
        li Sisa Sayuran
        li Sisa Makanan
        li Dedaunan
        li Potongan rumput
        li Kotoran Hewan
        hr
        ul

        
      section
        h2 Contoh Sampah yang Bisa Didaur Ulang
        
        hr		
        ul
          li Bahan Bangunan (batu bata, aspal)
          li Baterai (baterai mobil)
          li Bahan Elektronik (bahan logam pada Elektronik : besi, baja, silikon)		  
          li Logam (besi, baja)  
      
      section 
        h2 Contoh Hasil Daur Ulang	 
        hr
        ul
          li
          li Kerajinan Tangan dari Kertas . Contohnya, Hiasan dinding, Dompet, Kreasi Bunga, Hiasan toples dll.
          li Kerajinan Tangan dari Kain Perca. Contohnya, Membuat Bros, Pita Hias, Boneka dll.
          li Kerajinan Tangan dari Sedotan. Contohnya, Bunga Plastik, Jam dinding, Membuat Bintang, Lampion dll . 
          li Kerajinan Tangan dari Botol Plastik . Contohnya, Boneka Kodok, Sapu, dll .
      section
        h2 Dampak Negatif Sampah
        hr
        ul
          class.p Dampak Terhadap Kesehatan : Salah satu contohnya adalah penyakit Demam Berdarah .
          class.p Dampak Terhadap Lingkungan : Salah satu contohnya adalah menurunnya estetika (tidak sedap dipandang mata) .
          class.p Dampak Terhadap Keadaan Sosial dan Ekonomi : Salah satu contohnya adalah membentuk lingkungan yang kurang menyenangkan bagi masyarakat, bau yang tidak sedap dan pemandangan yang buruk karena sampah bertebaran dimana-mana, menyebabkan banjir dan juga memberikan dampak bagi fasilitas pelayanan umum seperti jalan, jembatan, drainase, dan lain - lain .

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild