doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    title Daur Ulang Sampah


    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
      section
        h1 Daur Ulang Sampah 
        <p>
        <small>
        <a href="mailto:121113061@student.mirkoskil.ac.id" class="roll">Anisah</a> | 
        <a href="mailto:121113312@student.mirkoskil.ac.id" class="roll">Dewi Rahmadani</a> |
        <a href="mailto:121111532@student.mirkoskil.ac.id" class="roll">Fadilla Rachmadani</a> |
        <a href="mailto:121113720@student.mirkoskil.ac.id" class="roll">Holila Hanni Gultom</a>
        </small>	
                                
      section
        h2 Pengertian       		
        ul
          li
          li Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali        

      section 
        h2 Tujuan dan Manfaat
        hr
        ul
           li             
           li Mengurangi penggunaan bahan atau sumber daya alam 
           li Mendapatkan penghasilan karena dapat dijual ke masyarakat
           li Melestarikan kehidupan makhluk yang terdapat di suatu lingkungan tertentu
           li Menjaga keseimbangan ekosistem makhluk hidup yang terdapat di dalam lingkungan
           li Mengurangi jumlah limbah untuk mengurangi pencemaran atau kerusakan lingkungan		   
           li Mengurangi sampah anorganik karena sampah anorganik ada yang dapat bertahan hingga 300 tahun ke depan

      section 
        h2 Metode Daur Ulang Sampah
        hr
        ul
          li <b>Pengolahan kembali secara fisik :</b>
        p Mengumpulkan dan menggunakan kembali sampah yang dibuang.
        hr
        ul
          li <b>Pengolahan secara biologis :</b>
        p Dengan menggunakan proses biologis untuk kompos, atau dikenal dengan istilah pengkomposan.

      section
        h2 Dampak Negatif Sampah
        hr
        ul
          class.a Dampak Terhadap Kesehatan : <i>Contohnya</i>, penyakit Demam Berdarah .
          class.a Dampak Terhadap Lingkungan : <i>Contohnya</i>, menurunnya estetika (tidak sedap dipandang mata) .
          class.a Dampak Terhadap Keadaan Sosial dan Ekonomi : <i>Contohnya</i>, terjadinya banjir memberikan dampak bagi fasilitas pelayanan umum seperti jalan, jembatan, drainase, dan lain - lain .       

      section
        h3 Contoh Sampah Yang Tidak Baik Didaur Ulang       
        hr
        ul		
        li Sisa Sayuran 
        li Sisa Makanan
        li Dedaunan
        li Potongan rumput
        li Kotoran Hewan
        
      section
        h3 Contoh Sampah yang Bisa Didaur Ulang        
        hr		
        ul
          li		
          <li class="s"> <img src="sampah_bangunan.jpg"></img> 
          p Bahan Bangunan 
      section
          ul	  
            <li class="s"> <img src="sampah_baterai.jpg"></img>
          p Baterai
      section
          ul	  
            <li class="s"> <img src="sampah_kaca.jpg"></img>
          p Kaca  
      section	  
          ul            		  
            <li class="s"> <img src="sampah_kertas.jpg"></img>
          p Kertas 		  
          
      section 
        h2 Contoh Hasil Daur Ulang	 
        hr
        ul
          li
          li Kerajinan Tangan dari Kertas . Contohnya, Hiasan dinding, Dompet, Kreasi Bunga, Hiasan toples dll.
          li Kerajinan Tangan dari Kain Perca. Contohnya, Membuat Bros, Pita Hias, Boneka dll.
          li Kerajinan Tangan dari Sedotan. Contohnya, Bunga Plastik, Jam dinding, Membuat Bintang, Lampion dll . 
          li Kerajinan Tangan dari Botol Plastik . Contohnya, Boneka Kodok, Sapu, dll .     

      section
        h2 Contoh Gambar Hasil Daur Ulang
        hr
        ul
          li
           <li class="s"> <img src="kertas.jpg"></img>
           p Kerajinan Tangan dari Kertas
      section
        ul
          <li class="s"> <img src="bros.jpg"></img>
          p Kerajinan Tangan dari Kain Perca
      section
        ul
         <li class="s"> <img src="pipet.jpg"></img>
         p Kerajinan Tangan dari Sedotan
      section
        ul
         <li class="s"> <img src="kodok.jpg"></img>
         p Kerajinan Tangan dari Botol Plastik
     
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild 
