doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    title Daur Ulang Sampah


    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section

        h1 Daur Ulang Sampah 
        p Anisah,Dewi,Fadilla,Holilla
      section
        h2 Pengertian		

        p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali. Proses untuk menjadikan suatu bahan bekas menjadi bahan baru dengan tujuan mencegah adanya sampah



        p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali. Proses untuk menjadikan suatu bahan bekas menjadi bahan baru dengan tujuan mencegah adanya sampah



        p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali

<<<<<<< HEAD
=======

>>>>>>> 4223ec9efba9cc5221f68fbee7a52788c6791854




        p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali

      section
 
        h2 Tujuan dan Manfaat
        p Tujuan daur ulang yaitu untuk mencegah adanya sampah yang sebenarnya dapat menjadi sesuatu yang berguna, mengurangi polusi, dan emisi gas rumah kaca jika dibandingkan dengan proses pembuatan barang baru. Manfaat daur ulang yaitu Menciptakan nilai pada suatu barang yang tidak bernilai sebelumnya, Memanfaatkan sampah yang bisa diperbaharui menjadi kerajinan kerajinan, dan Menciptakan barang barang berguna dari hasil daur ulang

      section
        h2 Dampak Negatif Sampah
        hr
        ul

          li Dampak Terhadap Kesehatan : Salah satu contohnya adalah penyakit Demam Berdarah .
          li Dampak Terhadap Lingkungan : Salah satu contohnya adalah menurunnya estetika (tidak sedap dipandang mata) .
          li Dampak Terhadap Keadaan Sosial dan Ekonomi : Salah satu contohnya adalah membentuk lingkungan yang kurang menyenangkan bagi masyarakat, bau yang tidak sedap dan pemandangan yang buruk karena sampah bertebaran dimana-mana, menyebabkan banjir dan juga memberikan dampak bagi fasilitas pelayanan umum seperti jalan, jembatan, drainase, dan lain - lain .



          li Dampak Terhadap Kesehatan
          li Dampak Terhadap Lingkungan
          li Dampak Terhadap Keadaan Sosial dan Ekonomi


        hr
        ul
      section 
        h2 Metode Daur Ulang Sampah
      section
        h2 Contoh Sampah Yang Tidak Baik Untuk Di Daur Ulang
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild