doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    title Daur Ulang Sampah


    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
      section
        h1 Daur Ulang Sampah 
        <p>
        <small>
        <a href="mailto:121113061@student.mirkoskil.ac.id" class="roll">Anisah</a> | 
        <a href="mailto:121113312@student.mirkoskil.ac.id" class="roll">Dewi Rahmadani</a> |
        <a href="mailto:121111532@student.mirkoskil.ac.id" class="roll">Fadilla Rachmadani</a> |
        <a href="mailto:121113720@student.mirkoskil.ac.id" class="roll">Holila Hanni Gultom</a>
        </small>	
                                
      section
        h2 Pengertian       		
          p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali
        

      section 
        h2 <font face="Times New Roman" color="Pink">** Tujuan dan Manfaat **</font>
        hr
        ul
           li <font face="Times New Roman" font size="4" color="violet">Mengurangi jumlah limbah untuk mengurangi pencemaran atau kerusakan lingkungan </font>
           li <font face="Times New Roman" font size="4" color="violet">Mengurangi penggunaan bahan atau sumber daya alam </font>
           li <font face="Times New Roman" font size="4" color="violet">Mendapatkan penghasilan karena dapat dijual ke masyarakat</font>
           li <font face="Times New Roman" font size="4" color="violet">Melestarikan kehidupan makhluk yang terdapat di suatu lingkungan tertentu</font>
           li <font face="Times New Roman" font size="4" color="violet">Menjaga keseimbangan ekosistem makhluk hidup yang terdapat di dalam lingkungan</font> 
           li <font face="Times New Roman" font size="4" color="violet">Mengurangi sampah anorganik karena sampah anorganik ada yang dapat bertahan hingga 300 tahun ke depan</font>

      section 
        h2 Metode Daur Ulang Sampah
        p Pengolahan kembali secara fisik
        p Metode ini adalah aktivitas paling populer dari daur ulang, yaitu mengumpulkan dan menggunakan kembali sampah yang dibuang, contohnya botol bekas pakai yang dikumpulkan untuk digunakan kembali. 
        p Pengolahan biologis
        p Material sampah ((organik)),seperti zat tanaman,sisa makanan atau kertas,bisa diolah dengan menggunakan proses biologis untuk kompos, atau di kenal dengan istilah pengkomposan.hasilnya adalah kompos yang bisa digunakan sebagai pupuk dan gas methana yang bisa digunakan untuk membangkitkan listrik.		
       

      section

        h2 Contoh Sampah Yang Tidak Baik Untuk Didaur Ulang
       
        hr
        ul
          li		
          li Sisa Sayuran
          li Sisa Makanan
          li Dedaunan
          li Potongan rumput
          li Kotoran Hewan
        
      section
        h2 Contoh Sampah yang Bisa Didaur Ulang
        
        hr		
        ul
          li		
          li Bahan Bangunan (batu bata, aspal)
          li Baterai (baterai mobil)
          li Bahan Elektronik (bahan logam pada Elektronik : besi, baja, silikon)		  
          li Logam (besi, baja)  
      
      section 
        h2 Contoh Hasil Daur Ulang	 
        hr
        ul
          li
          li Kerajinan Tangan dari Kertas . Contohnya, Hiasan dinding, Dompet, Kreasi Bunga, Hiasan toples dll.
          li Kerajinan Tangan dari Kain Perca. Contohnya, Membuat Bros, Pita Hias, Boneka dll.
          li Kerajinan Tangan dari Sedotan. Contohnya, Bunga Plastik, Jam dinding, Membuat Bintang, Lampion dll . 
          li Kerajinan Tangan dari Botol Plastik . Contohnya, Boneka Kodok, Sapu, dll .

      section
        h2 Dampak Negatif Sampah
        hr
        ul
          class.a Dampak Terhadap Kesehatan : <i>Contohnya</i>, penyakit Demam Berdarah .
          class.a Dampak Terhadap Lingkungan : <i>Contohnya</i>, menurunnya estetika (tidak sedap dipandang mata) .
          class.a Dampak Terhadap Keadaan Sosial dan Ekonomi : <i>Contohnya</i>, terjadinya banjir memberikan dampak bagi fasilitas pelayanan umum seperti jalan, jembatan, drainase, dan lain - lain .

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild