doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    title Daur Ulang Sampah


    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
      section
        h1 Daur Ulang Sampah 
        p Anisah,Dewi,Fadilla,Holilla
        p .3061 .3720 .1532 .3312
      section
        h2 Pengertian
        p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali. Proses untuk menjadikan suatu bahan bekas menjadi bahan baru dengan tujuan mencegah adanya sampah
      section 
        h2 Tujuan dan Manfaat
        p Tujuan daur ulang yaitu untuk mencegah adanya sampah yang sebenarnya dapat menjadi sesuatu yang berguna, mengurangi polusi, dan emisi gas rumah kaca jika dibandingkan dengan proses pembuatan barang baru. 
        p dan
        p Manfaat daur ulang yaitu Menciptakan nilai pada suatu barang yang tidak bernilai sebelumnya, Memanfaatkan sampah yang bisa diperbaharui menjadi kerajinan kerajinan, dan Menciptakan barang barang berguna dari hasil daur ulang
      section
        h2 Dampak Negatif Sampah
        hr
        ul
          li Dampak Terhadap Kesehatan : Salah satu contohnya adalah penyakit Demam Berdarah .
          li Dampak Terhadap Lingkungan : Salah satu contohnya adalah menurunnya estetika (tidak sedap dipandang mata) .
          li Dampak Terhadap Keadaan Sosial dan Ekonomi : Salah satu contohnya adalah membentuk lingkungan yang kurang menyenangkan bagi masyarakat, bau yang tidak sedap dan pemandangan yang buruk karena sampah bertebaran dimana-mana, menyebabkan banjir dan juga memberikan dampak bagi fasilitas pelayanan umum seperti jalan, jembatan, drainase, dan lain - lain.
      section 
        h2 Metode Daur Ulang Sampah
<<<<<<< HEAD

=======
>>>>>>> 42429131449b1f7b0bab83baf0e18ed0c0fc0c3d
        p Pengolahan kembali secara fisik
        p Metode ini adalah aktivitas paling populer dari daur ulang, yaitu mengumpulkan dan menggunakan kembali sampah yang dibuang, contohnya botol bekas pakai yang dikumpulkan untuk digunakan kembali. 
        p Pengolahan biologis
        p Material sampah ((organik)),seperti zat tanaman,sisa makanan atau kertas,bisa diolah dengan menggunakan proses biologis untuk kompos, atau di kenal dengan istilah pengkomposan.hasilnya adalah kompos yang bisa digunakan sebagai pupuk dan gas methana yang bisa digunakan untuk membangkitkan listrik.		
<<<<<<< HEAD
        
        

=======
        p Proses pengambilan barang yang masih memiliki nilai dari sampah untuk digunakan kembali disebut sebagai daur ulang.Ada beberapa cara daur ulang, pertama adalah mengambil bahan sampahnya untuk diproses lagi atau mengambil kalori dari bahan yang bisa dibakar untuk membangkitkan listrik. Metode-metode baru dari daur ulang terus ditemukan dan akan dijeleskan dibawah.
        p Metode ini adalah aktivitas paling populer dari daur ulang, yaitu mengeumpulkan dan menggunakan kembali sampah yang dibuang, contohnya botol bekas pakai yang dikumpulkan untuk digunakan kembali. Pengumpulan bisa dilakukan dari sampah yang sudah dipisahkan dari awal (kotak sampah/kendaraan sampah khusus),atau dari sampah yang sudah dicampur.
>>>>>>> 42429131449b1f7b0bab83baf0e18ed0c0fc0c3d
      section
        h2 Contoh Sampah Yang Tidak Baik Untuk Di Daur Ulang
        p Tidak semua sampah bisa di daur ulang, contoh sampah yang tidak bisa didaur ulang yaitu sampah ORGANIK. 
        p Sampah ORGANIK yang berasal dari sisa sayuran, sisa makanan, dedaunan, potongan rumput dan kotoran hewan.
        p Kenapa sampah organik tidak baik untuk didaur ulang ?
        p Karena sampah organik adalah sampah yang bisa mengalami pelapukan (dekomposisi) dan terurai menjadi bahan yang kecil dan tidak berbau.      
      section
        h2 Contoh Sampah yang Bisa Didaur Ulang
        hr		
        ul
          li
          li Bahan Bangunan (batu bata, aspal)
          li Baterai (baterai mobil)
          li Bahan Elektronik (bahan logam pada Elektronik : besi, baja, silikon)		  
          li Logam (besi, baja)        
      section 
        h2 Contoh Hasil Daur Ulang	 
        hr
        ul
          li
          li Kerajinan Tangan dari Kertas . Contohnya, Hiasan dinding, Dompet, Kreasi Bunga, Hiasan toples dll.
          li Kerajinan Tangan dari Kain Perca. Contohnya, Membuat Bros, Pita Hias, Boneka dll.
          li Kerajinan Tangan dari Sedotan. Contohnya, Bunga Plastik, Jam dinding, Membuat Bintang, Lampion dll . 
          li Kerajinan Tangan dari Botol Plastik . Contohnya, Boneka Kodok, Sapu, dll .
        hr
        ul


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild